img{
    width: 150px;
    height: 150px;

}
body{
    background: #9fe6a0;
}
input{
    font-size: 35px;
    background: #f1ca89;
}
p{
    font-size: 35px;
}

h4{
    font-size: 25px;
    background: #faf3f3;
}